<!DOCTYPE html>
<html>

<body>


<form  ng-app="myBlogApp" ng-controller="blogController"    >
    <div class="container">
        <label><b>Title</b></label>
        <input type="text" ng-model="title" placeholder="Enter the blog's title" name="title" required>
        <label><b>Text</b></label><br>
        ​<textarea rows="10" cols="70" ng-model="text" placeholder="Enter the blog's text" name="text" required></textarea>
        <button type="submit" ng-click="create()">Submit</button>
        <span>{{msg}}</span>
    </div>
</form>


</body>
</html>