<!DOCTYPE html>
<html ng-app="myBlogApp" ng-controller="homeController">
<nav>
    <ul>
        <li><a href="" ng-click="switchTo('createBlog')">Create Blog</a></li>
        <li><a href="" ng-click="switchTo('viewBlogs')">View Blogs</a></li>
        <div style="float: right">
            <user-details name = "currentUser"></user-details>&nbsp;&nbsp;<span style="color: #ffffff">|</span>
            <li><a href="" ng-click="logout()">Logout</a></li>
        </div>
    </ul>
</nav>
<div ng-show="currentMenu == 'createBlog'" ng-include="'public/app/views/createBlog.tpl.html'"></div>
<div ng-show="currentMenu == 'viewBlogs'" ng-include="'public/app/views/viewBlogs.tpl.html'"></div>

</html>